
.popUpHeader{
  border-bottom: 1px solid rgb(219, 216, 216);
  padding: 15px;
  width: 450px;
}
@media(max-width: 550px){
  .popUpHeader{
    width: 100%;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}

.close{
  margin-top: 4px;
  cursor: pointer;
}


.container{
  padding: 20px;
  font-family: "inter";
}



.profile{
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
@media(max-width:550px){
  .profile{
    gap: 10px;
  }
}


.profileImg{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.profileImg p{
  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  cursor: pointer;
  color: black;
}

.profileContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F4F4F6;
  padding: 15px;
  border-radius: 10px;
}

.purchaseDetails{
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media(max-width:600px){
  .purchaseDetails{
    font-size: 10px;
  }
  .mainContainer{
    width: 100%;
  }
}

.profileDetails{
  font-size: 14px;
  display: flex;
  gap: 80px;
  justify-content: space-between;
}
@media(max-width:600px){
  .profile{
    padding: 10px;
    gap: 20px;
  }
  .profileContent{
    width: 64vw;
  }
  .profileDetails{
    font-size: 11px;
    gap: 60px;
  }
}

@media(max-width:450px){
  .profileContent{
    width: 70vw;
  }
}

.detailMain{
  color: gray;
}

.detailContent{
  display: flex;
  align-items: center;
}


.pinContainer{
  display: flex;
  flex-direction: column;
}
.pinHeader{
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.pinsCol{
  padding: 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.pin{
  background-color: rgb(183, 183, 183);
  padding: 10px;
  border-radius: 50%;
}

.saveBtn{
  background-color: #D17528;
  opacity: 50%;
  padding: 10px 0;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.saveBtn:active{
  opacity: 100%;
}

@media(max-width:450px){
  .saveBtn{
    padding: 10px 0;
  }
}