

.maincontainer{
  position: relative;
  width: 100vw;
}

/* Notification */
.container{
  padding: 10px 0;
  /* border: 1px solid maroon; */
  height: 100vh;
  /* position: relative; */
}
.navigation, .accountName, .balance, .servicesContainer, .transactions{
  width: 60%;
  margin: auto;
}
@media(max-width: 820px){
  .navigation, .accountName, .balance, .servicesContainer, .transactions{
    width: 80%;
    margin: auto;
  }
}
@media(max-width:450px){
  .navigation, .accountName, .balance, .servicesContainer, .transactions{
    width: 95%;
    margin: auto;
  }
}




/* Account Name */

.accountName{
  margin-top: 60px;
  padding-top: 100px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameCol h2{
  font-size: 20px;
  color: gray;
  font-weight: 600;
  line-height: 24.2px;
}
.nameCol h1{
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
}

@media(max-width:450px){
  .accountName{
    gap: 20px;
  }
  .nameIconImage{
    width: 125px;
    height: 72px;
  }
}

/* Balance */

.balance{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainBalance p, .mainBalance p span{
  font-size: 10px;
  font-weight: 600;
  line-height: 12.1px;
  display: flex;
  align-items: center;
  color: gray;
  text-transform: uppercase;
}
.mainBalance p{
  gap: 5px;
}
.mainBalance h1{
  display: flex;
  align-items: center;
  font-size: 35px;
  line-height: 42.35px;
  font-weight: 800;
}
@media(max-width:450px){
  .mainBalance h1{
    font-size: 30px;
    line-height: 35px;
  }
}

.mainBalance p span{
  display: flex;
  align-items: center;
  color: black;
}

.topUp{
  margin-top: 10px;
  font-size: 8px;
  gap: 11px;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D17528;
  border-radius: 10px;
}


/* Services */

.servicesContainer{
  margin-top: 50px;
  color: gray;
  font-weight: 600;
  line-height: 14.52px;
}
.servicesContainer h1{
  font-size: 12px;
}

.servicesCol{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.services{
  cursor: pointer;
  font-size: 8px;
  width: 90px;
  padding: 15px 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #D17528;
  border-radius: 10px;
}
@media(max-width: 768px){
  .servicesCol{
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  .servicesCol::-webkit-scrollbar{
    width: 10px;
  }
  .services{
    width: 70px;
    height: 40px;
  }
}

/* Transaction */


.transactionsHeader{
  margin-top: 50px;
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
}
.transactionsHeader a{
  cursor: pointer;
  text-decoration: underline;
}

.transactions h1, .transactions a{
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 600;
  color: gray;
}


.transactionsCol, .detailCol{
  background-color: #D17528;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}
.transactiondetails{
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detailCol{
  color: #838581;
  background-color: transparent;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 600;
}



.status{
  color: green;
}

.amount{
  display: flex;
  align-items: center;
}

.transactionBtns{
  display: flex;
  gap: 12px;
  padding-bottom: 50px;
}

.transactionBtns button{
  font-size: 12px;
  padding: 13px, 40px, 13px, 40px;
  line-height: 22px;
  width: 104px;
  height: 35px;
  background-color: #D17528;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

@media(max-width:768px){
  .detailCol, .transactionsCol{
    font-size: 9px;
    gap: 10px;
  }

  .transactionBtns{
    justify-content: space-between;

  }
  .transactionBtns button{
    width: 90px;
    height: 35px;
  }
}

@media(max-width:450px){
  .detailCol, .transactionsCol{
    font-size: 2.6vw;
  }
}